<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/clientePainel.css">
<link th:href="@{/css/administradorPainel.css}" rel="stylesheet" />


<!------ Include the above in your HEAD tag ---------->

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://bryanrojasq.wordpress.com">
                <img src="@{/img/lexian.png}" alt="LOGO">
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats"><i
                        class="fa fa-bar-chart-o"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b
                        class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="/admin/logout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-users"></i> ESTOQUISTA <i
                            class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-1" class="collapse">
                        <li><a href="cadastrar-estoquista"><i class="fa fa-user-plus"></i>
                                ADICIONAR</a></li>
                        <li><a href="listar-estoquistas"><i class="fa fa-user"></i> ATUALIZAR
                                / DESATIVAR</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw icon-dropbox"></i> PRODUTO <i
                            class="fa fa-fw fa-angle-down icon-dropbox"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="cadastrar-produto"><i class="fa icon-plus"></i>
                                ADICIONAR</a></li>
                        <li><a href="listar-produto"><i class="fa icon-undo"></i> ATUALIZAR
                                / DESATIVAR</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <h3>ADICIONAR PRODUTO</h3>
            <div class="row" id="main">
                <div class="col-sm-12 col-md-12 well " id="adicionar_produto" >
                    <div id="cadastrar-produto">
                        <h1>Cadastro de Produto:</h1>

                        <form action="cadastrar-produto"  id="campos-cadastro" method="POST" enctype="multipart/form-data">
                            <input type="text" id="nome_produto" name="nome_produto" placeholder="Nome do Produto"><br>
                            <input type="number" id="qtde_produto" name="qtde_produto" placeholder="Quantidade" min="0" step="1"><br>
                            <input type="text" id="marca_produto" name="marca_produto" placeholder="Marca do Produto"><br>
                            <select id="categoria_produto" name="categoria_produto" placeholder="Categoria do Produto">
                                <option value="">Selecione uma Categoria </option>
                                <option value="placa_de_video">Placa de Video</option>
                                <option value="processador">Processador</option>
                                <option value="placa_mae">Placa Mae</option>
                                <option value="memoria_ram">Memoria Ram</option>
                                <option value="fonte">Fonte</option>
                            </select><br>

                            <label for="imagem1">Imagem 1: </label><br><input type="file" id="imagem1" name="imagem" ><br>
                            <label for="imagem2">Imagem 2: </label><br><input type="file" id="imagem2" name="imagem" ><br>
                            <label for="imagem3">Imagem 3: </label><br><input type="file" id="imagem3" name="imagem" ><br>
                            <label for="imagem4">Imagem 4: </label><br><input type="file" id="imagem4" name="imagem" ><br>
                            <label for="imagem5">Imagem 5: </label><br><input type="file" id="imagem5" name="imagem"><br><br>
                            
                            <label for="faq_produto">F.A.Q do Produto:</label><br><br>
                            <input type="text" id="pergunta1" name="pergunta1" placeholder="Primeira Pergunta:"><br>
                            <input type="text" id="resposta1" name="resposta1" placeholder="Primeira Resposta"><br><br>
                            
                            <input type="text" id="pergunta2" name="pergunta2" placeholder="Segunda Pergunta:"><br>
                            <input type="text" id="resposta2" name="resposta2" placeholder="Segunda Resposta"><br><br>

                            <label for="descricao_produto">Descrição do Produto:</label><br>
                            <textarea id="descricao_produto" name="descricao_produto">

                            </textarea><br>
                            <input type="text" id="valor_produto" name="valor_produto" placeholder="Valor do Produto"><br>
                            <div id="radio-ativo">
                                <label>Cadastrar Ativo?</label><br>
                                <label>Sim</label> <input type="radio" name="cadastro_ativo" value="true" checked><br>
                                <label>Não</label> <input type="radio" name="cadastro_ativo" value="false">
                            </div>

                            <input type="submit" value="Cadastrar Produto" id="btn_default">


                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->