<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link th:href="@{/css/administradorPainel.css}" rel="stylesheet" />
<link th:href="@{/css/listarEstoquista.css}" rel="stylesheet" />

<!------ Include the above in your HEAD tag ---------->

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://bryanrojasq.wordpress.com">
                <img src="@{/img/lexian.png}" alt="LOGO">
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats"><i
                        class="fa fa-bar-chart-o"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b
                        class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-users"></i> ESTOQUISTA <i
                            class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-1" class="collapse">
                        <li><a href="cadastrar-estoquista"><i class="fa fa-user-plus"></i>
                                ADICIONAR</a></li>
                        <li><a href="listar-estoquistas"><i class="fa fa-user"></i> ATUALIZAR
                                / DESATIVAR</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw icon-dropbox"></i> PRODUTO <i
                            class="fa fa-fw fa-angle-down icon-dropbox"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="cadastrar-produto"><i class="fa icon-plus"></i>
                                ADICIONAR</a></li>
                        <li><a href="listar-produto"><i class="fa icon-undo"></i> ATUALIZAR
                                / DESATIVAR</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <h3>LISTA DE ESTOQUISTAS</h3>
            <div class="row" id="main">
                <div class="panel filterable">
                    <div class="panel-heading.">
                        <div class="pull-right">

                        </div>
                    </div>
                    <table class="tablenb">
                        <thead>
                            <tr class="filters">
                                <th></th>
                                <th><input id="pesquisar_nome" type="text" class="form-control" placeholder="Pesquisar por Nome" enabled></th>
                                <th class="text-center"><button onclick="pesquisarPorNome()" type="button" class="btn btn-success btn-sm" >Pesquisar</button></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr>
                                <td class="text-center">ID</td>
                                <td class="text-center">Nome</td>
                                <td class="text-center">CPF</td>
                                <td class="text-center">Função</td>
                                <td class="text-center">Status</td>
                                <td class="text-center">Editar</td>
                                <td class="text-center">Desativar</td>

                            </tr>
                            <tr th:each="estoquista, stat: ${estoquistas}">
                                <td class=" text-center" th:text="${estoquista.idUsuario}" ></td>
                        <input type="hidden"  th:id="|estoq_nome${estoquista.idUsuario}|" th:value="${estoquista.nome}"/>
                        <input type="hidden"  th:id="|estoq_email${estoquista.idUsuario}|" th:value="${estoquista.email}"/>
                        <input type="hidden"  th:id="|estoq_cpf${estoquista.idUsuario}|" th:value="${estoquista.cpf}"/>
                        <input type="hidden"  th:id="|estoq_id${estoquista.idUsuario}|" th:value="${estoquista.idUsuario}"/>
                        <td class="text-center" th:text="${estoquista.nome}"></td>
                        <td class="text-center" th:text="${estoquista.cpf}" th:id="|estoq_cpf${estoquista.idUsuario}|" ></td>
                        <td class="text-center" th:text="${estoquista.perfil}" th:id="|estoq_perfil${estoquista.idUsuario}|" ></td>
                        <td class="text-center" th:text="${estoquista.status}" th:id="|estoq_status${estoquista.idUsuario}|" ></td>
                        <th class="text-center"><button type="button" th:onclick="|atualizaModal(${estoquista.idUsuario})|" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_editar">Editar</a></button></th>
                        <th class="text-center"><button type="button" th:onclick="|atualizaModalRemov(${estoquista.idUsuario})|"  class="btn btn-danger btn-sm" data-toggle="modal" data-target="#usun">Desativar</a></button></th>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="modal fade" id="modal_editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form class="form-horizontal" action="atualizar-estoquista" method="POST">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">Editar Dados Estoquista</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" id="main">
                                    <div class="col-sm-12 col-md-12 well " id="adicionar_estoquista" >
                                        <input id="id_modal" name="id_usuario" type="hidden" />
                                        <input type="hidden" name="id_modal"/>
                                        <div class="col-md-11 control-label">
                                            <p class="help-block">
                                            <h11>*</h11> Campo Obrigatório
                                            </p>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="nome_usuario">Nome <h11>*</h11></label>
                                            <div class="col-md-8">
                                                <input id="nome_modal" name="nome_usuario" placeholder="" class="form-control input-md"
                                                       required="" type="text">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="cpf_usuario">CPF <h11>*</h11></label>
                                            <div class="col-md-8">
                                                <input id="cpf_modal" name="cpf_usuario" placeholder="Apenas números"
                                                       class="form-control" required="" type="text" maxlength="11"
                                                       pattern="[0-9]+$">
                                            </div>
                                        </div>
                                        <button type="button" id="botao_senha" class="btn btn-primary" onclick="ativarModalSenha()">Alterar Senha</button>
                                        <div class="form-group"  id="senha_modal"  disabled style="display:none">
                                            <label class="col-md-4 control-label" for="senha_usuario">Nova Senha<h11>*</h11></label>
                                            <div class="col-md-4">
                                                <input name="senha_usuario" id="senha_usuario_2" placeholder="*******"
                                                       class="form-control" type="password" maxlength="11"
                                                       pattern="[0-9]+$" disabled/>
                                            </div>
                                        </div>

                                        <button type="button" id="botao_tipo" class="btn btn-primary" onclick="ativarModalTipo()">Alterar Tipo</button>
                                        <div class="form-group"  id="tipo_modal"  disabled style="display:none">
                                            <label class="col-md-4 control-label" for="tipo_usuario">Tipo do Usúario:<h11>*</h11></label>
                                            <div class="col-md-4">
                                                <select name="tipo_usuario" class="form-control">
                                                    <option value="1" selected> Estoquista </option>
                                                    <option value="2"> Cliente</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!-- Modal USUŃ -->
            <div class="modal fade" id="usun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">

                    <form class="form-horizontal" action="remover-estoquista" method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <input type="hidden" id="id_modal_remov" name="id_usuario" />
                            <div class="modal-body">
                                TEM CERTEZA QUE DESEJA REMOVER ESTOQUISTA?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                                <button type="submit" class="btn btn-primary">Sim</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
    <script>
        function pesquisarPorNome(){
        let nome = document.getElementById("pesquisar_nome").value;

        window.location.href = 'http://localhost:8080/admin/filtroNome/'+nome;

        }

        function atualizaModal(id){
        document.getElementById('nome_modal').value = document.getElementById('estoq_nome'+id).value
        document.getElementById('cpf_modal').value = document.getElementById('estoq_cpf'+id).value
        document.getElementById('id_modal').value = document.getElementById('estoq_id'+id).value

        }

        function atualizaModalRemov(id){

            document.getElementById('id_modal_remov').value = document.getElementById('estoq_id'+id).value

        }
        
        function ativarModalSenha (){
            if(document.getElementById('senha_modal').style.display == 'none'){
            document.getElementById('senha_modal').style.display = 'block';
            document.getElementById("senha_usuario_2").removeAttribute("disabled")
        }else{
            document.getElementById('senha_modal').style.display = 'none';
            document.getElementById('senha_usuario_2').disabled = 'true';
        }
        }

        function ativarModalTipo (){
        if(document.getElementById('tipo_modal').style.display == 'none'){
        document.getElementById('tipo_modal').style.display = 'block';
        document.getElementById('tipo_modal').disabled = 'false';
        }else{
        document.getElementById('tipo_modal').style.display = 'none';
        document.getElementById('tipo_modal').disabled = 'true';
        }
        }
    </script> 