<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realizar Pagamento</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link th:href="@{css/confirmarPedido.css}" rel="stylesheet">
        <link th:href="@{css/realizarPagamento.css}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
              integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="http://localhost:8080/">Lexian - Loja de Informática</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/cliente">Login
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/carrinho">Carrinho</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <form class="form-horizontal" action="/pedido/confirmarDados" method="POST">
            <div class="container">
                <br><br><br><br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg offset">
                            <h1>Endereco de entrega</h1>
                            <div class="row">

                                <div class="col-md-6 " th:each="enderecoEntrega, stat: ${session['enderecoEntrega']}">

                                    <div class="filtro-endereco">
                                        <div class="col caixa-endereco d-md-flex align-items-center  mb-30">
                                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">

                                                <div class=" dados-endereco">

                                                    <h5 class="text-center text-md-left "><i class="zmdi zmdi-pin mr-2" th:text="${enderecoEntrega.rua}"></i>
                                                    </h5>
                                                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                        <li class="mr-md-4">
                                                            <i class="zmdi zmdi-money mr-2" th:text="| Num: ${enderecoEntrega.numero}|"></i> 
                                                        </li>
                                                        <li class="mr-md-4">
                                                            <i class="zmdi zmdi-time mr-2" th:text="| Rua: ${enderecoEntrega.rua}|" ></i> 
                                                        </li>
                                                        <li class="mr-md-4">
                                                            <i class="zmdi zmdi-time mr-2" th:text="| CEP: ${enderecoEntrega.cep}|"></i>
                                                        </li>
                                                        <li class="mr-md-4">
                                                            <i class="zmdi zmdi-time mr-2" th:text="| ${enderecoEntrega.complemento}|"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>

                                                </div>
                                            </div>
                                            <div class="job-right my-4 flex-shrink-0">
                                                <input type="radio" name="enderecoEscolhido"  th:value="${enderecoEntrega.idEndereco}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6 ">

                                    <div class="filtro-endereco">
                                        <div class="col caixa-endereco d-md-flex align-items-center  mb-30">
                                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">

                                                <div class=" dados-endereco">
                                                    <h5 class="text-center text-md-left "><i class="zmdi zmdi-pin mr-2"></i>Cadastrar novo endereco
                                                    </h5>
                                                    <button class="btn btn-primary btn-block" type="button" th:onclick="|window.location.href = '/cliente/painel'|"> Cadastrar </button>

                                                </div>
                                                <div>

                                                </div>
                                            </div>
                                            <div class="job-right my-4 flex-shrink-0">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg offset">
                            <h1>Selecione o Frete</h1>
                            <div class="row">

                                <div class="col-md-6 ">

                                    <div class="filtro-endereco">
                                        <div class="col caixa-endereco d-md-flex align-items-center  mb-30">
                                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">

                                                <div class=" dados-endereco">

                                                    <h5 class="text-center text-md-left "><i text="Selecione o frete abaixo:"></i>
                                                    </h5>
                                                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                        <div>
                                                            <li class="mr-md-4">
                                                                <i th:text="|${session['fretes'][0].tipo} - R$ ${session['fretes'][0].valor} |"></i><input type="radio" name="freteEscolhido"  th:value="${session['fretes'][0].id}"  th:onchange="|alterarValorFrete(${session['fretes'][0].id})|" > 
                                                            </li>
                                                        </div>
                                                        <div>
                                                            <li class="mr-md-4">
                                                                <i th:text="|${session['fretes'][1].tipo} - R$ ${session['fretes'][1].valor} |"></i><input type="radio" name="freteEscolhido"  th:value="${session['fretes'][1].id}" th:onchange="|alterarValorFrete(${session['fretes'][1].id})|"> 
                                                            </li>
                                                        </div>
                                                        <div>
                                                            <li class="mr-md-4">
                                                                <i th:text="|${session['fretes'][2].tipo} - R$ ${session['fretes'][2].valor} |"></i><input type="radio" name="freteEscolhido"  th:value="${session['fretes'][2].id}" th:onchange="|alterarValorFrete(${session['fretes'][2].id})|"> 
                                                            </li>
                                                        </div>

                                                    </ul>
                                                </div>
                                                <div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg offset">
                            <h1>Produtos</h1>
                            <div class="row">

                                <div class="col-md-6 " th:each="produto, stat: ${session['carrinho']}">

                                    <div class="produtosCarrinho">
                                        <div class="col caixa-produtos d-md-flex align-items-center  mb-30">
                                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                                <img class="img" th:src="${produto.imagem}" id="imgProduto">


                                                <div class="dados-produto">

                                                    <div class="col">
                                                        <h4 class="product-name"><strong th:text="${produto.nomeProduto}">Nome Produto</strong></h4>
                                                        <h4><small th:text="|R$ ${produto.valor}|" ></small></h4>
                                                    </div>

                                                    <div class="col">
                                                        <h4><small> <strong th:text="|Quantidade: ${produto.qtde}|" ></strong></small></h4>
                                                    </div>
                                                </div>
                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-lg-12">
                        <div class="col-lg offset">

                            <h1>Método de pagamento</h1>

                            <input type='hidden' name="metodoPagamento" id="metodoPagamento" value="1"><!-- row.// -->
                            <article class="card">
                                <div class="card-body p-5">

                                    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="pill" href="#nav-tab-card" onclick=alterarPagamento(1)>
                                                <i class="fa fa-credit-card"></i> Cartão de credito</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#nav-tab-boleto" onclick=alterarPagamento(2)>
                                                <i class="fa fa-university"></i> Boleto Bancário</a></li>


                                    </ul>

                                    <div class="tab-content">

                                        <div class="tab-pane fade show active" id="nav-tab-card">
                                            <p class="alert alert-success">Some text success or error</p>


                                            <div class="form-group">
                                                <label for="username">Nome no Cartão:</label>
                                                <input type="text" class="form-control" name="nomeCartao" placeholder="" id="nomeCartao" required>
                                            </div> <!-- form-group.// -->

                                            <div class="form-group" >
                                                <label for="cardNumber">Número:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="numeroCartao" placeholder="" id="numeroCartao" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text text-muted">
                                                            <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>  
                                                            <i class="fab fa-cc-mastercard"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div> <!-- form-group.// -->

                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label><span class="hidden-xs">Data de validade:</span> </label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control" placeholder="MM" name="" id="mesValidade" required>
                                                            <input type="number" class="form-control" placeholder="YY" name="" id="anoValidade" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label data-toggle="tooltip" title=""
                                                               data-original-title="3 digits code on back side of the card">CVV <i
                                                                class="fa fa-question-circle"></i></label>
                                                        <input type="number" class="form-control" id="cvv" required >
                                                    </div> <!-- form-group.// -->
                                                </div>
                                                <div class="form-group">
                                                    <label for="parcelaCartao">Example select</label>
                                                    <select class="form-control" id="parcelaCartao" name="parcelaCartao" required>
                                                        <option value="1" selected>1x</option>
                                                        <option value="2" selected>2x</option>
                                                        <option value="3" selected>3x</option>
                                                        <option value="4" selected>4x</option>
                                                        <option value="5" selected>5x</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm </button>

                                        </div> <!-- tab-pane.// -->

                                        <div class="tab-pane fade" id="nav-tab-boleto">
                                            <p>Valores no Boleto</p>
                                            <dl class="param">
                                                <dt>Produtos no Carrinho:</dt>
                                                <dd th:text="|R$ ${session['totalCarrinho']}|"> R$ 00,00</dd>
                                                <dt>Valor Frete: </dt>
                                                <dd id="boletoFrete" > R$ 00,00</dd>
                                            </dl>

                                            <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm </button>
                                        </div> <!-- tab-pane.// -->
                                    </div> <!-- tab-content .// -->

                                </div> <!-- card-body.// -->
                            </article> <!-- card.// -->


                        </div> <!-- col.// -->
                    </div>
                </div> <!-- row.// -->

            </div>
        </form>
        <!--container end.//-->
    </body>

    <script>


        function alterarPagamento(tipoPagamento) {
            document.getElementById("metodoPagamento").value = tipoPagamento

            if (tipoPagamento == 1) {
                document.getElementById("nomeCartao").required = "true"
                document.getElementById("numeroCartao").required = "true"
                document.getElementById("mesValidade").required = "true"
                document.getElementById("anoValidade").required = "true"
                document.getElementById("cvv").required = "true"
                document.getElementById("parcelaCartao").required = "true"

            }
            if (tipoPagamento == 2) {
                document.getElementById("nomeCartao").removeAttribute("required")
                document.getElementById("numeroCartao").removeAttribute("required")
                document.getElementById("mesValidade").removeAttribute("required")
                document.getElementById("anoValidade").removeAttribute("required")
                document.getElementById("cvv").removeAttribute("required")
                document.getElementById("parcelaCartao").removeAttribute("required")
            }
        }

        function alterarValorFrete(id) {

            if (id == 1) {
                document.getElementById("boletoFrete").innerHTML = "R$ 13,00"
            }
            if (id == 2) {
                document.getElementById("boletoFrete").innerHTML = "R$ 16,00"
            }
            if (id == 3) {
                document.getElementById("boletoFrete").innerHTML = "R$ 20,00"
            }

        }



    </script>
</html>