<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link th:href="@{/css/administradorPainel.css}" rel="stylesheet" />
<link th:href="@{/css/listarEstoquista.css}" rel="stylesheet" />

<!------ Include the above in your HEAD tag ---------->

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:8080/">
                <img src="@{/img/lexian.png}" alt="LOGO">
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats"><i
                        class="fa fa-bar-chart-o"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b
                        class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <!--<li>
                    <a data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-users"></i> ESTOQUISTA <i
                            class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-1" class="collapse">
                        <li><a href="cadastrar-estoquista"><i class="fa fa-user-plus"></i>
                                ADICIONAR</a></li>
                        <li><a href="listar-estoquistas"><i class="fa fa-user"></i> ATUALIZAR
                                / DESATIVAR</a></li>
                    </ul>
                </li>-->
                <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i> ENDEREÇO
                        <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> FATURA</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> ENTREGA</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> NOVO</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i> PERFIL
                        <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> VISUALIZAR</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> EDITAR</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="cliente/painel"><i class="fa fa-fw fa-user-plus"></i> PEDIDOS</a>
                </li>
                
                <!--<li>
                    <a href="sugerencias"><i class="fa fa-fw fa-paper-plane-o"></i> MENU 4</a>
                </li>
                <li>
                    <a href="faq"><i class="fa fa-fw fa fa-question-circle"></i> MENU 5</a>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <h3>LISTA DE PEDIDOS</h3>
            <div class="row" id="main">
                <div class="panel filterable">
                    <div class="panel-heading.">
                        <div class="pull-right">

                        </div>
                    </div>
                    <table class="tablenb">
                 
                        <tbody>


                            <tr>
                                <<!--td class="text-center">Data da Compra</td>-->
                                <td class="text-center">Numero Pedido</td>
                                <td class="text-center">Valor da Compra</td>
                                <td class="text-center">Status da Compra</td>
                                <td class="text-center">Detalhes</td>

                            </tr>
                            <tr th:each="compra, stat: ${session['compraProduto']}">
                                <!--<td class=" text-center" th:text="${compra.formatISO(data)}"></td>-->
                                <td class="text-center" th:text="${compra.idPedido}"></td>
                                <td class="text-center" th:text="${compra.valorTotal}"></td>
                                <td class="text-center" th:text="${compra.status}"></td>
                                <th class="text-center"><button type="button" class="btn btn-danger btn-sm">Visualizar</button></th>
                            </tr>
                           
                    </table>
                </div>
            </div>
            <!-- Modal Dodaj -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal EDYTUJ -->
            <div class="modal fade" id="modal_editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Editar Dados Estoquista</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" id="main">
                <div class="col-sm-12 col-md-12 well " id="adicionar_estoquista" >
                    <form class="form-horizontal" action="cadastrar-estoquista" method="POST">
                        <div class="col-md-11 control-label">
                            <p class="help-block">
                                <h11>*</h11> Campo Obrigatório
                            </p>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>
                            <div class="col-md-8">
                                <input id="Nome" name="nome_usuario" placeholder="" class="form-control input-md"
                                    required="" type="text">
                            </div>
                        </div>

                        <!-- Prepended text-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input id="prependedtext" name="email_usuario" class="form-control"
                                        placeholder="email@email.com" required="" type="text"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Nome">CPF <h11>*</h11></label>
                            <div class="col-md-8">
                                <input id="cpf" name="cpf_usuario" placeholder="Apenas números"
                                    class="form-control" required="" type="text" maxlength="11"
                                    pattern="[0-9]+$">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal USUŃ -->
            <div class="modal fade" id="usun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
    <script>
        function pesquisarPorNome(){
            let nome = document.getElementById("pesquisar_nome").value;
            
            window.location.href = 'http://localhost:8080/admin/filtroNome/'+nome;
            
        }
    </script> 